* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  background-image: url(img/Gemini_Generated_Image_3xe18k3xe18k3xe1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.img-login img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.img-login {
  margin-bottom: 70px;
}
.box-cards {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: white;
  box-shadow: 0px 0px 15px 3px rgb(0, 217, 255);
  width: 300px;
  height: 400px;
  border-radius: 10px;
  border: 2px solid rgb(166, 166, 166);
  animation-name: box;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}
@keyframes box {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}
.box-cards form input {
  padding: 5px;
  border: none;
  outline: none;
  border-bottom: 2px solid rgb(0, 217, 255);
  transition: 0.3s;
}
input::placeholder {
  color: rgb(98, 161, 237);
}

.box-cards form input:focus {
  border-bottom: 3px solid rgb(0, 217, 255);
  border-radius: 0px 0px 10px 10px;
}
button {
  width: 100%;
  padding: 3px;
  background-image: linear-gradient(45deg, rgb(0, 195, 255), rgb(0, 53, 167));
  border: none;
  outline: none;
  border-radius: 20px;
  color: white;
}
button:focus {
  background-image: linear-gradient(270deg, rgb(0, 195, 255), rgb(0, 53, 167));
}
.logreg-link {
  font-size: 12px;
  display: flex;
  margin: 0;
  justify-content: center;
  margin-top: 10px;
  gap: 50px;
  color: rgb(117, 117, 117);
}
a {
  color: rgb(0, 195, 255);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

